@using IntusWindowsWeb.Models

<div class="product-card">
    <h2>Product Name: @Product.Name</h2>
    <p>Description: @Product.Description</p>
    <p>Price: @Product.Price</p>
    <p>Type: @Product.Type</p>
    <p>Width: @Product.Width</p>
    <p>Height: @Product.Height</p>
</div>

@code {
    [Parameter]
    public ProductData Product { get; set; }
    
    protected override void OnParametersSet()
    {
        // Print the ProductData object to the console
        Console.WriteLine(Product.Description);
    }
}